.App {
  text-align: center;
  background-color: black;
  color:white;
  
}

.App-logo {
  display: block;
  /* height: 40vmin;
  width: 40vmin; */
}

.App-header {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.95) ), url('https://images.unsplash.com/photo-1453486030486-0a5ffcd82cd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
 
}



.panel {
  background-color: 0
}

.trash {
  width: 20px;
}

.MyAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.icon {
  height: 30px;
}

.avatar {
  width: 200px;
  height: 200px;
  background-size: cover;
  /* display: flex; */
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-top: 10px;
  /* background-color: #48A69A; */
  border-radius: 50%;
  /* box-shadow: 0 0 0 5px #48A69A; */
  position: relative;
  height: 40px;
  width: 40px;
  /* justify-content: right; */
  

  
  
}

.header {
  max-height: 300px;
  /* height: 100%; */
  width: 100%;

}

.gallery {
  display: block;
  align-content: center;

}

.form {
  width:350px;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.info {
  background-color: #48A69A;
  color: white;
}

.upload{
  border-style: solid;
  border-color: #9E9E9E;
  border-width: 1px;

}

.down{
  width: 40px;
}

.profilegallery{
  background-color: white;
   margin-top: -35px;
   margin-left:20px;
   margin-right: 20px;

}

.navigation{
  background: linear-gradient( rgba(0, 0, 0, .035), rgba(0, 0, 0, 1) ), url("/images/heyitsheadshot.jpg");
  min-height:  75vh;
  background-size: cover;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
 
}

.addicon{
  height: 60px;
  margin-top: -30px;
}

.loginpage{
  padding-bottom: 100px;
}